<h1>Select Google Calendars as Sync Targets</h1>

<%= form_for 'gcals', url: select_gcals_path do |f| %>

  <% @page.discovered_calendars.each.with_index do |gcal, idx| %>
    <div class="discovered-calendar">
      <p><strong><%= gcal.summary %></strong> (<%= gcal.id %>)</p>
      <p><%= gcal.description %></p>
      <%= hidden_field_tag "gcals[#{idx}][name]", gcal.summary %>
      <%= hidden_field_tag "gcals[#{idx}][id]", gcal.id %>
      <%= hidden_field_tag "gcals[#{idx}][selected]", false %>
      <%= check_box_tag "gcals[#{idx}][selected]", true, page.selected?(gcal) %>
      <%= text_field_tag "gcals[#{idx}][tags]", page.tag_text_for(gcal) %>
    </div>
  <% end -%>

  <p class="button"><%= f.submit 'Set Selected Calendars' %></p>
<% end %>
